---
layout: default
---
<article class="post">
  <header> 
    <div class="title">
      <h2>{{ page.title | escape }}</h2>
      <p><a href="//aurea377.github.io/aboutme/2022/cv/{{ page.path }}" class="icon"><i class="fas fa-fw fa-edit"></i> Tian</a></p>
    </div>
    <div class="meta">
      <time class="published" datetime="{{ page.date }}">{{ page.date | date: "%d %b %Y %R" }}</time>
      <a href="{{ site.author.cv }}" class="author"><span class="name">{{ site.author.name }}</span><img src="{{ site.author.avatar | prepend: site.baseurl }}" alt="Cao" /></a>
    </div>
  </header>
  {{ content }}
  
  <p>Tian <a href="http://t.me/vikablog">
  <footer>
    <ul class="stats">
      <li><a class="icon" href="{{ site.url }}"><i class="fas fa-fw fa-folder"></i> Home Page</a></li>
      <li><a href="//aurea377.github.io/aboutme/2022/cv/{{ page.path }}" class="icon"><i class="fas fa-fw fa-edit"></i> Edit</a></li>
    </ul>
  </footer>
  
</div>
</article>
<ul class="actions pagination">
  {% if page.previous.url %}
    <li><a href="{{page.previous.url}}" class="button big previous icon"><i class="fw fas fa-chevron-left"></i> Last</a></li>
  {% endif %}
  {% if page.next.url %}
    <li><a href="{{page.next.url}}" class="button big next icon">Next <i class="fw fas fa-chevron-right"></i></a></li>
  {% endif %}
</ul>


{%include comments.html %}


